

    <a uib-dropdown-toggle="" href="">
        <i class="tm-icon zmdi zmdi-apps"></i>
    </a>
    <div class="dropdown-menu pull-right dropdown-menu-lg" xmlns:th="http://www.thymeleaf.org">
        <div class="listview picture-list">
            <div class="lv-header">
                Apps
            </div>
            <div class="lv-body pl-body apps-grid-scroll"  >


                <div class="col-xs-4">
                    <a href="">
                        <img src="img/logo-white.png" alt=""/>
                        <span>Catalog</span>
                    </a>
                </div>

                <div class="col-xs-4">
                    <a href="">
                        <img src="img/logo-white.png" alt=""/>
                        <span>Catalog</span>
                    </a>
                </div>
                <div class="col-xs-4">
                    <a href="">
                        <img src="img/logo-white.png" alt=""/>
                        <span>Catalog</span>
                    </a>
                </div>
                <div class="col-xs-4">
                    <a href="">
                        <img src="img/logo-white.png" alt=""/>
                        <span>Catalog</span>
                    </a>
                </div>
                <div class="col-xs-4">
                    <a href="">
                        <img src="img/logo-white.png" alt=""/>
                        <span>Catalog</span>
                    </a>
                </div>


                <div class="col-xs-4">
                    <a href="">
                        <img src="img/logo-white.png" alt=""/>
                        <span>Catalog</span>
                    </a>
                </div>

                <div class="col-xs-4">
                    <a href="">
                        <img src="img/logo-white.png" alt=""/>
                        <span>Catalog</span>
                    </a>
                </div>
                <div class="col-xs-4">
                    <a href="">
                        <img src="img/logo-white.png" alt=""/>
                        <span>Catalog</span>
                    </a>
                </div>
                <div class="col-xs-4">
                    <a href="">
                        <img src="img/logo-white.png" alt=""/>
                        <span>Catalog</span>
                    </a>
                </div>
                <div class="col-xs-4">
                    <a href="">
                        <img src="img/logo-white.png" alt=""/>
                        <span>Catalog</span>
                    </a>
                </div>
            </div>



            <div class="clearfix"></div>

            <a class="lv-footer" href="" style="margin-top:0px;">View All</a>
        </div>
    </div>