<div class="container" xmlns:th="http://www.thymeleaf.org" data-ng-controller="product-test">

    <div class="card">
        <div class="card-header">
            <h2>Project project vega <small>test view project vega.</small></h2>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table ng-table="table" class="table table-striped table-vmiddle" show-filter="true">
                    <tr ng-repeat="w in $data">
                        <td data-title="'ID'" sortable="'id'"  filter="{ 'id': 'text' }">
                            {{ w.id }}
                        </td>
                        <td data-title="'Name'" sortable="'name'"  filter="{ 'name': 'text' }">
                            {{ w.name }}
                        </td>
                        <td data-title="'Description'" sortable="'description'" filter="{ 'description': 'text' }">
                            {{w.description}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>